.t-maxWidth {
    max-width: 500px;
}
.carzy_toggler {
    display: block;
}
.l-w {
    width: 110px;
}
.ly-card-header {
  padding: 5px 1.25rem;
  position: relative;
}
.ly-notExpire {
  color: white;  
  background-color: #17a2b8 !important;
}
// bg-info
.radioStyle {
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
  padding: 1px 5px;
  font-size: 16px;
  text-align: center;
}
.isSelect {
  background-color: #17a2b8;
  color: #fff;
}

// lottery_infn_header
.lottery_info_header {
  display:flex;

  h2 {
    margin-right: 110px;
  }
  button {
    max-width: 20%;
    height: 40px;
  }
}


.toysLottery_card {
  display:flex;
  flex-wrap: wrap;
  // card header style
  .card-harder-blockposition {
    padding: 5px 1.25rem;
    position:relative;
  }
  .card-header-text {
    max-width: 264px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  // card Item icon
  .icon-edit {
    position: absolute;
    top:6px;
    right:6px;
    width:24px;
    height: 24px;
    background: url('./assets/images/ic_edit.png') no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  .icon-delete {
    position: absolute;
    top:6px;
    right:36px;
    width: 24px;
    height: 24px;
    background: url('./assets/images/ic_delete.png') no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  // lottery remid block
  .lottery-remind-block {
    position: absolute;
    right: 6px;

  }
  .lottery-link {
    color: #0056b3;
    &:hover {
      cursor: pointer;
      text-decoration:underline;
    }
  }
  .icon-notify{
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;

    &.On {
      background: url('./assets/images/ic_notifications.png') no-repeat;  
    }
    &.Off {
      background: url('./assets/images/ic_notifications_off.png') no-repeat;
    }
  }
  // card text lottery
  .text-lottery {
    cursor: default;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    font-size:20px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    color: red;
    font-family: 'Arial Black';
  }
}
// modal
.lottery_modal {
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-modal;

  background-color: rgba($black, .6);
  display: block;
  width: 100%;
  height: 200%;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  position: fixed;
}

.modal-dialog {
  max-width: 530px;
}
@media (min-width: 768px) {
    .carzy_toggler {
        display: none;
    }
    .carzy_navbar {
        display: none;
    }
}